*{
    padding:0px;
    box-sizing: border-box;
    margin:0px;

}
body{
    background-image: url("https://wallpaperaccess.com/full/239670.jpg");
}
.container{
  max-width: 80%;
  padding-left: 450px;
  padding-top: 30px;
}
.container h1{
    padding-left: 110px;
}
.container h2{
    padding-top: 20px;
    
}

.details{
    padding-top: 20px;
}
input,textarea{
   width:80%;
   display: block;
   padding: 3px;
   margin-top: 5px;

 
}
form{
    align-items: center;
    justify-content: center;
}


.gen{
    margin-left: -200px;
    
}
.sug{
    margin-top: 200px;
}

input,label{
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: bolder;
    padding-bottom: 10px;
}
.btn1{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: bolder;
    margin-left: 150px;
   


}

